body
{
  color:black;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
  
}

label
{
  color: darkslateblue;
  font-size: 14px;
  padding: 6px;
  border-radius: 10px;
  background-color: whitesmoke;
}

.heading
{
  font-size: 18px;
  border-radius: 10px;
  
}